.header-content {
  text-align: center;
}

.header-image {
  height: 300px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)), url(../../../assets/Header1.jpg) 0% 80% no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Comfortaa', cursive;
  color: #fff;
}

.track-details {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.track-details span {
  margin-left: 15px;
}

.track-details span:first-child {
  margin-left: 0;
}
