<div class="countdown">
  <div>
    <div>
      <span class="days">{{timeRemaining[0]}}</span>
      <span class="smalltext">Days</span>
    </div>
    <div>
      <span class="hours">{{timeRemaining[1]}}</span>
      <span class="smalltext">Hours</span>
    </div>
  </div>
  <div>
    <div>
      <span class="minutes">{{timeRemaining[2]}}</span>
      <span class="smalltext">Minutes</span>
    </div>
    <div>
      <span class="seconds">{{timeRemaining[3]}}</span>
      <span class="smalltext">Seconds</span>
    </div>
  </div>
</div>
