<mat-toolbar color="primary" class="fixed-header">
  <mat-toolbar-row>
    <img class="navbar-logo" src="\assets\F1LiveLogo.svg">
    <span>Formula 1 Live</span>

    <span class="navbar-spacer"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button *ngFor="let menuItem of menuItems" routerLink="/{{menuItem.link}}">{{menuItem.title}}</button>
    </div>

    <div class="container" (click)="toggleSideNav()" [ngClass]="{ 'change': isSideMenuOpen }" fxHide="false" fxHide.gt-sm>
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav position="end">
    <mat-nav-list>
      <div class="sidenav-content">
        <mat-list-item *ngFor="let menuItem of menuItems">
          <a matLine (click)="redirectAndCloseSideNav(menuItem.link);"> {{ menuItem.title }} </a>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header></app-header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
