<mat-dialog-content>
  <div class="weekendDetails">
    <div class="header" [ngStyle]="headerImage | async">
      <span>{{ raceWeekend.weekend[4].country }}</span>
      <span>{{ raceWeekend.weekend[4].location }}</span>
      <span *ngIf="raceWeekend.weekend[4].status == 'TENTATIVE'"
        >(Unconfirmed)</span
      >
    </div>
    <table>
      <tr *ngFor="let event of raceWeekend.weekend">
        <td>{{ event.categories }}</td>
        <td>{{ event.eventDate | date: "dd MMMM" }}</td>
        <td>{{ event.eventDate | date: "HH:mm" }}</td>
      </tr>
    </table>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="footer">
    <button mat-button mat-dialog-close>Close</button>
    <button
      *ngIf="hasResult"
      mat-raised-button
      color="primary"
      mat-dialog-close
      routerLink="/raceresult/{{ raceWeekend.round }}"
    >
      Results
    </button>
  </div>
</mat-dialog-actions>
