.team-number {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 14px;
  font-weight: 700;
  background: #b0b0b0;
  color: #fff;
  display: inline-block;
  padding: 7px 10px 7px 0;
  width: 40px;
  text-align: center;
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -o-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  transform: skew(-30deg);
  position: relative;
}

.team-number .color {
  width: 10px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: #000;
}

.text {
  display: inline-block;
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -o-transform: skew(30deg);
  -ms-transform: skew(30deg);
  transform: skew(30deg);
}
.name {
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 6px;
}

 ul {
  list-style:none;
  padding-left:0px;
 }

 li {
   padding-bottom: 10px;
   -moz-box-shadow-bottom: 4px 4px 4px black;
  -webkit-box-shadow-bottom: 4px 4px 4px black;
box-shadow-bottom: 4px 4px 4px black;
 }

 span {
 font-family: "Open Sans",Helvetica,sans-serif;
  font-size: 12px;
  line-height: 1.6;
}
