<div
  class="schedule"
  fxLayout
  fxLayoutAlign="center"
  fxLayoutGap="30px"
  fxLayout.lt-md="column"
  fxLayoutAlign.lt-md="center center"
>
  <div class="list-container">
    <mat-spinner *ngIf="isLoading; else listContent"></mat-spinner>
  </div>
  <ng-template #listContent>
    <h2>Race Schedule</h2>
    <div>
      <mat-spinner *ngIf="isLoading; else listContent"></mat-spinner>
    </div>
    <ng-template #listContent>
      <ul *ngIf="raceSchedule.length > 0" @list>
        <li *ngFor="let raceweekend of raceSchedule; let round = index" @items>
          <div class="race-details list-item">
<div class="location">
  <span class="country">{{ raceweekend[4].country
                }}<span *ngIf="raceweekend[4].status == 'TENTATIVE'">*</span></span>
  <span class="city">{{ raceweekend[4].location }}</span>
</div>

            
            <span class="right">
              <span fxHide.xs="true">{{
                raceweekend[4].eventDate | date: "dd MMMM"
              }}</span>
              <span fxHide fxShow.xs="true">{{
                raceweekend[4].eventDate | date: "dd MMM"
              }}</span>
              <span>
                {{ raceweekend[4].eventDate | date: "HH:mm" }}
              </span>
              <span
                class="actions"
                (click)="openRaceWeekendPopup(raceweekend, round + 1)"
              >
                <i class="fas fa-info-circle"></i>
              </span>
            </span>
          </div>
        </li>
      </ul>
    </ng-template>
  </ng-template>
  <div fxLayoutAlign="center"></div>
</div>
