<div class="schedule" fxLayout fxLayout.lt-sm="column" fxLayoutAlign="center" fxLayoutGap="30px">
  <div fxLayoutAlign="center">
    <mat-card class="example-card">
      <h2>Race Schedule</h2>
      <div>
        <!-- <mat-spinner style="margin:0 auto;"></mat-spinner> -->
        <mat-spinner *ngIf="isLoading; else listContent" style="margin:0 auto;"></mat-spinner>

      </div>
      <ng-template #listContent>
        <div>
          <table class="schedule-list">
            <thead>
              <td>
                Race
              </td>
              <td>
                <span>Practice 1</span>
              </td>
              <td>
                <span>Practice 2</span>
              </td>
              <td>
                <span>Practice 3</span>
              </td>
              <td>
                <span>Qualification</span>
              </td>
              <td>
                <span>Race</span>
              </td>
              <td>
                <span>Results</span>
              </td>
            </thead>
            <tr *ngFor="let raceweekend of raceSchedule">
              <td>
                <span class="text">{{raceweekend[4].summary}}</span>
              </td>
              <td>
                <span class="text date-long">{{(raceweekend[0].eventDate) | date:'EE, MMM dd yyyy, hh:mm'}}</span>
              </td>
              <td>
                <span class="text date-long">{{(raceweekend[1].eventDate) | date:'EE, MMM dd yyyy, hh:mm'}}</span>
              </td>
              <td>
                <span class="text date-long">{{(raceweekend[2].eventDate) | date:'EE, MMM dd yyyy, hh:mm'}}</span>
              </td>
              <td>
                <span class="text date-long">{{(raceweekend[3].eventDate) | date:'EE, MMM dd yyyy, hh:mm'}}</span>
              </td>
              <td>
                <span class="text date-long">{{(raceweekend[4].eventDate) | date:'EE, MMM dd yyyy, hh:mm'}}</span>
              </td>
              <td>

              </td>
            </tr>
          </table>
        </div>
      </ng-template>
    </mat-card>
  </div>
</div>
